<template>
  <v-app>
    <MainNav />
    <v-main>
      <nuxt />
    </v-main>
  </v-app>
</template>

<script>
  import MainNav from "@/components/MainNav";
  export default {
    components: {MainNav}
  }
</script>
