<template>
  <div>
    <v-container fluid>
      <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      <v-row>
        <v-col cols="12">
          <v-card
            v-if="$vuetify.breakpoint.xsOnly"
            class="mx-auto"
            max-width="344"
          >
            <v-img
              src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
              height="200px"
            ></v-img>

            <v-card-title>
                Bienvenidos a la Admin del  Blog
            </v-card-title>

            <v-card-text>
              <p class="text-justify font-weight-black">
                Morbi mattis ullamcorper velit. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.
                Fusce convallis metus id felis luctus adipiscing. Aenean massa.
                Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
              </p>
            </v-card-text>

            <v-card-actions>
              <v-btn
                color="orange lighten-2"
                text
              >
                Share
              </v-btn>
              <v-btn
                color="orange lighten-2"
                text
              >
                Explore
              </v-btn>
            </v-card-actions>
          </v-card>


        </v-col>
      </v-row>
    </v-container>

  </div>
</template>

<script>
  export default {
    data () {
      return {
        breadcrumbs: [
          {
            text: 'Dashboard',
            disabled: false,
            href: '/',
          }
        ],
        dropdown_font: ['Arial', 'Calibri', 'Courier', 'Verdana']
      }
    },
    methods: {
      uploadAlert () {
        return alert('Subiendo datos')
      }
    }
  }
</script>
