<template>
  <v-container>
    <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
    <v-form v-model="valid">
      <v-row>
        <v-col cols="12">
          <v-card>
            <v-data-table
              :headers="headers"
              :items="posts"
            >
              <template v-slot:top>
                <v-toolbar class="mb-4" flat dark color="primary">
                  <v-toolbar-title>Mis publicaciones</v-toolbar-title>
                  <v-divider
                    inset
                    vertical
                    class="mx-4"
                  >
                  </v-divider>
                  <v-spacer>
                  </v-spacer>
                  <v-dialog v-model="dialog" width="600px">
                    <template v-slot:activator="{ on }">
                      <v-btn color="secondary" v-on="on">
                        Crear
                      </v-btn>
                    </template>
                    <v-card>
                      <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                      </v-card-title>
                      <v-container>
                        <v-form>
                          <v-row>
                            <v-col cols="12">
                              <v-text-field
                                v-model="editedItem.title"
                                label="Título"
                                outlined
                                required
                                :rules="titleRules"
                                :counter="25"
                              >
                              </v-text-field>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col cols="12">
                              <v-textarea
                                v-model="editedItem.body"
                                :rules="bodyRules"
                                outlined
                                required
                                label="Cuerpo">
                              </v-textarea>
                            </v-col>
                          </v-row>

                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                              :disabled="!valid"
                              @click="save"
                              text
                              color="primary">
                              Guardar
                            </v-btn>
                            <v-btn @click="close" text >
                              Cancelar
                            </v-btn>
                          </v-card-actions>
                        </v-form>
                      </v-container>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  title="Editar"
                  @click="editItem(item)"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  title="Eiminar"
                  @click="deleteItem(item)"
                >
                  mdi-delete
                </v-icon>
              </template>
              <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Inicializar</v-btn>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
  export default {
    name: "Posts",
    data () {
      return {
        breadcrumbs: [
          {
            text: 'Dashboard',
            disabled: false,
            href: '/',
          },
          {
            text: 'Posts',
            disabled: true,
            href: '/posts',
          },
        ],
        valid: false,
        titleRules: [
          v => !!v || 'Título es requerido',
          v => v.length <= 25 || 'Título no puede ser mayor de 25 caracteres',
        ],
        bodyRules: [
          v => !!v || 'Cuerpo es requerido',
        ],
        dialog: false,
        editedIndex: -1,
        headers: [
          {
            text: 'ID',
            value: 'id'
          },
          {
            text: 'Título',
            value: 'title'
          },
          {
            text: 'Cuerpo',
            value: 'body',
            sortable: false
          },
          { text: 'Acciones', value: 'actions', sortable: false  }
        ],
        posts: [],
        editedItem: {
          title: '',
          body: ''
        },
        defaultItem: {
          title: '',
          body: ''
        }
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Crear publicación' : 'Editar publicación'
      }
    },
    watch: {
      dialog(val) {
        val || this.close()
      }
    },
    created() {
        this.initialize()
    },
    methods: {
      initialize() {
        this.posts = [
          {
            id: '1',
            title: 'Post 1',
            body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam, assumenda consequatur delectus dicta fuga hic id illo ipsum molestiae odio placeat qui, sed sunt tempore vel voluptas. Dolores, laborum?\n'
          },
          {
            id: '2',
            title: 'Post 2',
            body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam, assumenda consequatur delectus dicta fuga hic id illo ipsum molestiae odio placeat qui, sed sunt tempore vel voluptas. Dolores, laborum?\n'
          },
          {
            id: '3',
            title: 'Post 3',
            body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam, assumenda consequatur delectus dicta fuga hic id illo ipsum molestiae odio placeat qui, sed sunt tempore vel voluptas. Dolores, laborum?\n'
          },
          {
            id: '4',
            title: 'Post 4',
            body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam, assumenda consequatur delectus dicta fuga hic id illo ipsum molestiae odio placeat qui, sed sunt tempore vel voluptas. Dolores, laborum?\n'
          }
        ]
      },
      close() {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
      editItem(item) {
        this.editedIndex = this.editedItem.indexOf(item)
        this.editedItem = Object.assign({}, item);
        this.dialog = true
      },
      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.posts[this.editedIndex], this.editedItem)
        } else {
          this.editedItem.id = '5'
          this.posts.push(this.editedItem)
        }
      },
      deleteItem(item) {
        const index = this.posts.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.posts.splice(index, 1)
      }
    }
  }
</script>

<style scoped>

</style>
